.container {
  color: white;
}

.text-about {
  min-height: 100%;
  min-height: 100%;

  display: flex;
  align-items: center;

  font-family: Lobster, cursive !important;
  font-size: 24px;

  letter-spacing: 1px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
